.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px 0;
	border-bottom: 1px solid lightgrey;
	position: relative;
}

.profile {
}

.body {
	margin-left: 15px;
	flex-grow: 1;
}